{% extends "base.html" %}

{% load static %}

{% block content %}
      <div class="call_text_main">
         <div class="container">
            <div class="call_taital">
               <div class="call_text"><a href="https://www.google.com/maps" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_15">Location</span></a></div>
               <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_15">(+71) 8522369417</span></a></div>
               <div class="call_text"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_15">Trator@gmail.com</span></a></div>
            </div>
         </div>
      </div>
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div id="custom_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-12">
                           <h1 class="client_taital">What Customers Say</h1>
                        </div>
                     </div>
                     <div class="client_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                                 <h3 class="moark_text">Henry</h3>
                                 <p class="client_text">"I had an urgent business meeting, and Trator came through for me. Their online booking system was super easy to use, and the driver arrived on time, making sure I reached my destination promptly. I appreciate their reliability and professionalism. Definitely recommend Trator for all your transportation needs."</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img2.png' %}"></div>
                                 <h3 class="moark_text">Paul</h3>
                                 <p class="client_text">"I recently rented a car from Trator for a family road trip, and I couldn't be happier. The vehicle was clean and well-maintained, and the driver was incredibly friendly and accommodating. It made our trip so much more enjoyable. Trator is definitely my go-to rental company from now on!"</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-12">
                           <h1 class="client_taital">What Says Customers</h1>
                        </div>
                     </div>
                     <div class="client_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                                 <h3 class="moark_text">Jake</h3>
                                 <p class="client_text">"I've used Trator multiple times, and they never disappoint. The drivers are always professional and courteous, making me feel safe and comfortable throughout the journey. Their attention to detail and commitment to customer satisfaction truly set them apart. A top-notch car rental service!"</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img2.png' %}"></div>
                                 <h3 class="moark_text">John</h3>
                                 <p class="client_text">"I had a fantastic experience with Trator! The online booking was seamless, and the vehicle was in excellent condition. The best part was the driver - friendly, punctual, and very knowledgeable about the area. Highly recommend!"</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-12">
                           <h1 class="client_taital">What Says Customers</h1>
                        </div>
                     </div>
                     <div class="client_section_2">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img1.png' %}"></div>
                                 <h3 class="moark_text">Tyson</h3>
                                 <p class="client_text">"What a pleasant experience with Trator! From the moment I booked my ride to the end of the journey, everything was seamless. The driver was not only a great navigator but also provided valuable insights about local attractions. Thank you, Trator, for exceeding my expectations!"</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                           <div class="col-md-6">
                              <div class="client_taital_box">
                                 <div class="client_img"><img src="{% static 'images/client-img2.png' %}"></div>
                                 <h3 class="moark_text">Rudolph</h3>
                                 <p class="client_text">"I had the pleasure of using Trator for my vacation, and they truly made it memorable. The vehicle was spotless, and the driver was not only courteous but also went above and beyond to ensure we had a comfortable and enjoyable ride. Trator's attention to detail and commitment to customer satisfaction are commendable. I won't hesitate to book with them again in the future!"</p>
                              </div>
                              <div class="quick_icon"><img src="{% static 'images/quick-icon.png' %}"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#custom_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#custom_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- client section end -->
      {% endblock %}